<h5>商品一覧</h5>


<div class="container">
  <div class="row">
   <div class="col-lg-1"></div>
   <div class="col-lg-10">
    <table class="table-light">
       <thead class="thead-secondary"><tr>
         <th scope="col-lg-1">商品ID</th>
         <th scope="col-lg-3">商品名</th>
         <th scope="col-lg-1">税抜価格</th>
         <th scope="col-lg-3">ジャンル</th>
         <th scope="col-lg-2">ステータス</th>
       </tr></thead>
       <tbody>
        <% @items.each do |item| %>
         <tr>
           <td scope="col-lg-1"><%= item.id %></td>
           <td scope="col-lg-3"><%= link_to item.name, admin_item_path(item.id) %></td>
           <td scope="col-lg-1"><%= item.price.to_s(:delimited) %></td>
           <td scope="col-lg-3"><%= item.genre.name %></td>
           <td scope="col-lg-2">
           <% if item.is_active == true %>
            <%= "販売中" %>
           <% else %>
            <%= "販売停止中" %>
           <% end %>
           </td>
         </tr>
         <% end %>
       </tbody>
       <%= paginate @items %>
     </table>
     </div>
    </div>

   <div class="col-lg-1"></div>
  </div>
</div>