<h5>新規商品登録</h5>
<%= form_with model: @item, url: admin_items_path do |f| %>
<h6>商品画像</h6>
 <%= f.attachment_field :image, placeholder:"ファイルを選択" %>
<h6>商品名</h6>
 <%= f.text_field :name, placeholder:"商品名" %>
<h6>商品説明</h6>
 <%= f.text_area :introduction, placeholder:"ここに説明文を記述します" %>
<h6>ジャンル</h6>
 <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
<h6>税抜価格</h6>
 <%= f.text_field :price, placeholder:"1000" %>
<h6>販売ステータス</h6>
 <%= f.radio_button :is_active, :true %>
<%= f.label :is_active, "販売中", {value: :true} %>
 <%= f.radio_button :is_active, :false %>
 <%= f.label :is_active, "販売停止中", {value: :false} %>
 <br>
<%= f.submit '新規登録', class: "btn btn-sm btn-success" %>
<% end %>