<div class="container">
 <div class="row">
   <h5>ジャンル一覧・追加</h5>
  </div>
  <div class="row">
   <div class="col-lg-6">
    <table class="table table-borderless">
     <%= form_with model: @genre, url: admin_genres_path do |f| %>
     <tbody>
      <tr>
       <td class="col-lg-2"><%= f.label :genre, "ジャンル名" %></td>
       <td class="col-lg-2"><%= f.text_field :name, placeholder:"ジャンル名" %></td>
       <td class="col-lg-2"><%= f.submit '新規登録', class: "btn btn-sm btn-success" %></td>
      </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>

  <div class="row">
   <div class="col-lg-4">
    <table class="table">
       <thead class="thead-light"><tr>
         <th scope="col"></th>
         <th scope="col">ジャンル</th>
         <th scope="col-2"></th>
       </tr></thead>
       <% @genres.each do |genre| %>
       <tbody>
         <tr>
           <td scope="col"><%= genre.name %></td>
           <td scope="col-2"></td>
           <td scope="col">
             <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %>
           </td>
         </tr>
       </tbody>
      <% end %>
     </table>
    </div>
   <div class="col-lg-8"></div>
  </div>
</div>