<div class="container">
<div class="row">
  <div class="col-lg-10">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="col-lg-1"></th>
          <th class="col-lg-5">配送先編集</th>
          <th class="col-lg-4"></th>
        </tr>
      </thead>
      <tbody>
        <%= form_with model: @address, url: public_address_path(@address.id), method: :patch do |f| %>
        <tr>
          <td class="col-lg-2">郵便番号(ハイフンなし)</td>
          <td class="col-lg-5"><%= f.text_field :postal_code, autofocus: true, placeholder:"0000000" %></td>
          <td class="col-lg-3"></td>
        </tr>
        <tr>
          <td class="col-lg-2">住所</td>
          <td class="col-lg-5"><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0" %></td>
          <td class="col-lg-3"></td>
        </tr>
        <tr>
          <td class="col-lg-2">宛名</td>
          <td class="col-lg-5"><%= f.text_field :name, placeholder:"令和道子" %></td>
          <td class="col-lg-3"><%= f.submit "変更内容を保存", class: "btn btn-sm btn-success" %></td>
        </tr>
       <% end %>
      </tbody>
     </table>
    </div>
   </div>
</div>