<%= form_with model: @admin, url: new_admin_session_path, local: true do |f| %>
<div class="container">
 <div class="row mb-2">
  <div class="col-lg-12">
   <h4>管理者ログイン</h4>
  </div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-2"></div>
  <div class="col-lg-2">
   <%= f.label :email, "メールアドレス" %>
  </div>
  <div class="col-lg-8">
   <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %>
  </div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-2"></div>
  <div class="col-lg-2">
    <%= f.label :password, "パスワード" %>
  </div>
  <div class="col-lg-8">
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-4"></div>
  <div class="col-lg-3">
   <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %><br>
   <%= render "devise/shared/links" %>
  </div>
  <div class="col-lg-7"></div>
 </div>
</div>
<% end %>