<div class="container">
 <div class="row">

  <div class="col-lg-3"></div>
   <div class="col-lg-5">
   <table class="table table-borderless">
     <thead>
       <div class="col-lg-5"><h5>管理者ログイン</h5></div>
     </thead>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <tbody>
       <tr>
         <td class="col-lg-2"><%= f.label :email, "メールアドレス" %></td>
         <td class="col-lg-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %></td>
       </tr>
       <tr>
         <td class="col-lg-2"><%= f.label :password, "パスワード" %></td>
         <td class="col-lg-3"><%= f.password_field :password, autocomplete: "current-password" %></td>
       </tr>
       <tr>
         <td class="col-lg-2"></td>
         <td class="col-lg-3"><%= f.submit "ログイン", class: "btn btn-sm btn-primary" %></td>
       </tr>
       <tr>
         <td class="col-lg-2"></td>
         <td class="col-lg-3"><%= render "devise/shared/links" %></td>
       </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>
</div>

