<div class="container">
 <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-8">
  <h2>新規会員登録</h2>
   <table class="table table-borderless">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
       <tbody>
         <tr>
           <td scope="col-lg-2">名前</td>
           <td scope="col-lg-3">(姓) <%= f.text_field :last_name, autofocus: true, placeholder:"令和" %></td>
           <td scope="col-lg-3">(名) <%= f.text_field :first_name, placeholder:"道子" %></td>
         </tr>
         <tr>
           <td scope="col-lg-2">フリガナ</td>
           <td scope="col-lg-3">(セイ) <%= f.text_field :last_name_kana, placeholder:"レイワ" %></td>
           <td scope="col-lg-3">(メイ) <%= f.text_field :first_name_kana, placeholder:"ミチコ" %></td>
         </tr>
         <tr>
           <td scope="col-lg-4">メールアドレス</td>
           <td scope="col-lg-4"><%= f.text_field :email, placeholder:"sample@example.com" %></td>
         </tr>
         <tr>
           <td scope="col-lg-4">郵便番号(ハイフンなし)</td>
           <td scope="col-lg-4"><%= f.text_field :postal_code, placeholder:"0000000" %></td>
         </tr>
         <tr>
           <td scope="col-lg-4">住所</td>
           <td scope="col-lg-4"><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0" %></td>
         </tr>
         <tr>
           <td scope="col-lg-4">電話番号</td>
           <td scope="col-lg-4"><%= f.text_field :telephone_number, placeholder:"0000000" %></td>
         </tr>
         <tr>
           <td scope="col-lg-4">パスワード
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %></td>
           <td scope="col-lg-4"><%= f.password_field :password, autocomplete: "new-password" %></td>
         </tr>
         <tr>
           <td scope="col-lg-4">パスワード(確認用)</td>
           <td scope="col-lg-4"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
         </tr>
         <tr>
           <td scope="col-lg-3"></td>
           <td scope="col-lg-4"><%= f.submit "新規登録", class: "btn btn-sm btn-success" %></td>
         </tr>
        </tbody>

<% end %>

<%= render "public/shared/links" %>
