<%= form_with model: @customer, url: registration_path(resource_name), local: true do |f| %>
<div class="container">
 <div class="row mb-2">
  <div class="col-lg-12">
   <h4>新規会員登録</h4>
  </div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">名前</div>
  <div class="col-lg-1">(姓)</div>
  <div class="col-lg-3"><%= f.text_field :last_name, autofocus: true, placeholder:"令和" %></div>
  <div class="col-lg-1">(名)</div>
  <div class="col-lg-3"><%= f.text_field :first_name, placeholder:"道子" %></div>
  <div class="col-lg-1"></div>
 </div>
  <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">フリガナ</div>
  <div class="col-lg-1">(セイ)</div>
  <div class="col-lg-3"><%= f.text_field :last_name_kana, placeholder:"レイワ" %></div>
  <div class="col-lg-1">(メイ)</div>
  <div class="col-lg-3"> <%= f.text_field :first_name_kana, placeholder:"ミチコ" %></div>
  <div class="col-lg-1"></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">メールアドレス</div>
  <div class="col-lg-3"><%= f.text_field :email, placeholder:"sample@example.com" %></div>
  <div class="col-lg-5"></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">郵便番号(ハイフンなし)</div>
  <div class="col-lg-3"><%= f.text_field :postal_code, placeholder:"0000000" %></div>
  <div class="col-lg-5"></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">住所</div>
  <div class="col-lg-3"><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0" %></div>
  <div class="col-lg-5"></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">電話番号</div>
  <div class="col-lg-3"><%= f.text_field :telephone_number, placeholder:"0000000" %></div>
  <div class="col-lg-5"></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">パスワード
   <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 文字以上)
   <% end %></div>
  <div class="col-lg-3">
    <%= f.password_field :password, autocomplete: "new-password" %></div>
  <div class="col-lg-5"></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">パスワード(確認用)</div>
  <div class="col-lg-3"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
  <div class="col-lg-5"></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-1"></div>
  <div class="col-lg-3"></div>
  <div class="col-lg-3"><%= f.submit "新規登録", class: "btn btn-sm btn-success" %></div>
  <div class="col-lg-5"></div>
 </div>
 <div class="row mb-4">

  <div class="col-lg-1"></div>
  <div class="col-lg-10"><h5>既に登録済みの方</h5></div>
 </div>
 <div class="row mb-2">
  <div class="col-lg-2"></div>
  <div class="col-lg-9">こちらからログインを行ってください。<%= render "public/shared/links" %></div>
 </div>
</div>
<% end %>
