<div class="container">
<div class="row">
  <div class="col-lg-3"><%= attachment_image_tag @item, :image, format: 'jpeg', size: '300x250' %>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
     <table class="table table-borderless">
       <tbody>
         <tr><td><h4><%= @item.name %></h4></td></tr>
         <tr><td><%= @item.introduction %></td></tr>
         <tr><td>￥ <%= @item.with_tax_price.to_s(:delimited) %> (税込)</td></tr>
         <tr><td>
           <%= form_with model: @cart_item, url: public_cart_items_path, local: true do |f| %>
             <%= f.hidden_field :item_id, value: @item.id %>
             <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
             <%= f.submit "カートに入れる", class: "btn btn-sm btn-success" %>
           <% end %>
         </td></tr>
</tbody>
</table>

</div>
</div>
</div>
